body {
  font-family:'Quicksand', 'Open Sans', sans-serif;
  font-size: 16px;
  background: -webkit-linear-gradient(rgb(3, 5, 28), rgb(18, 31, 81));
}


.header{
  margin-top: 45px;
}

.main-title{
  font-size: 55px;
  color: rgb(255, 255, 255);
  display: inline-block;
  border: solid rgb(167, 183, 255) 1px;
  border-radius: 75px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 25px;
  padding-top: 18px;
  box-shadow: 0 0 20px rgb(148, 168, 255);
}

#currentDay{
  display: inline-block;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-bottom: solid rgb(188, 188, 188);
  border-width: 0.5px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-size: 18px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 2px solid rgb(255, 255, 255);
}

.hour {
  border-right: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #e8efff;
  color: rgb(0, 0, 0);
}

.past {
  background-color: #969696;
  color: white;
}

.present {
  background-color: #aac3ff;
  color: white;
}

.future {
  background-color: #5d7aff;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: -webkit-linear-gradient(rgb(4, 4, 29), rgb(89, 89, 139), rgb(4, 4, 29));
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#hour-17{
  margin-bottom: 150px;
}
